In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('VERT_Data_A.csv', encoding='latin1')
df.head()

,Year Reported to CDP,Account Number,Organization,City,Country,CDP Region,City-wide emissions inventory,Accounting Year,Gases Included,Direct emissions/ Scope 1 (metric tonnes CO2e) for Total generation of grid supplied energy,...,Reason for change,Population,Population Year,City Location,Last update,GDP,Average annual temperature (in Celsius),C40,Climate CODE,Climate
0,2020,63616,Abasan Al-Kabira Municipality,Abasan Al-Kabira,State of Palestine,Middle East,Yes,2010-12-31 - 2011-12-31,"CH4, CO2, HFCs",NaN,...,NaN,31000.0,2017,POINT (34.344 31.3231),2021-01-15T08:48:41.050,NaN,NaN,0,Not Found,Not Found
1,2020,58485,Abington Township,Abington,United States of America,North America,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, HFCs, N20, PFCs",NaN,...,"Other, please specify: Decrease in electricity...",55310.0,2010,POINT (-75.1195 40.1241),2021-01-15T08:48:41.050,NaN,NaN,0,Cfa,warm temperate
2,2020,36043,Abuja Federal Capital Territory,Abuja,Nigeria,Africa,Intending to undertake in the next 2 years,NaN,NaN,NaN,...,NaN,3278000.0,2020,POINT (7.39857 9.07647),2021-01-15T08:48:41.050,NaN,NaN,0,Aw,equatorial
3,2020,36039,Accra Metropolitan Assembly,Accra,Ghana,Africa,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, N20",NaN,...,No new inventory to report,2514005.0,2020,POINT (-0.16819 5.56543),2021-01-15T08:48:41.050,NaN,NaN,1,Aw,equatorial
4,2020,50208,Adana Metropolitan Municipality,Adana,Turkey,Europe,Yes,-,NaN,NaN,...,NaN,2200000.0,2020,POINT (35.334 36.995),2021-01-15T08:48:41.050,NaN,NaN,0,Csa,warm temperate

In [3]:
city_size = pd.read_csv('City_Size.csv', encoding='latin1')
city_size.head()

,Rank,City / Urban area,Country,Population,Land area (in sqKm),Density (people per sqKm)
0,1,New York Metro,USA,"17,800,000","8,683","2,050"
1,2,Tokyo/Yokohama,Japan,"33,200,000","6,993","4,750"
2,3,Chicago,USA,"8,308,000","5,498","1,500"
3,4,Atlanta,USA,"3,500,000","5,083",700
4,5,Philadelphia,USA,"5,149,000","4,661","1,100"

In [4]:
for city in city_size['City / Urban area'].unique():
    city_ind = city_size[city_size['City / Urban area']==city]
    if '//' in city:
        city = city.split('//')
        if len(city)==2:
            df.loc[(df['City']==city[0])|(df['City']==city[1]), 'Land Area (in km sq.)'] = city_ind['Land area (in sqKm)'].values[0]
            continue
        elif len(city)==3:
            df.loc[(df['City']==city[0])|(df['City']==city[1])|(df['City']==city[2]), 'Land Area (in km sq.)'] = city_ind['Land area (in sqKm)'].values[0]
            continue
    elif ' / ' in city:
        city = city.split(' / ')
        if len(city)==2:
            df.loc[(df['City']==city[0])|(df['City']==city[1]), 'Land Area (in km sq.)'] = city_ind['Land area (in sqKm)'].values[0]
            continue
        elif len(city)==3:
            df.loc[(df['City']==city[0])|(df['City']==city[1])|(df['City']==city[2]), 'Land Area (in km sq.)'] = city_ind['Land area (in sqKm)'].values[0]
            continue
    elif '/' in city:
        city = city.split('/')
        if len(city)==2:
            df.loc[(df['City']==city[0])|(df['City']==city[1]), 'Land Area (in km sq.)'] = city_ind['Land area (in sqKm)'].values[0]
            continue
        elif len(city)==3:
            df.loc[(df['City']==city[0])|(df['City']==city[1])|(df['City']==city[2]), 'Land Area (in km sq.)'] = city_ind['Land area (in sqKm)'].values[0]
            continue
    else:
        df.loc[df['City']==city, 'Land Area (in km sq.)'] = city_ind['Land area (in sqKm)'].values[0]
        continue

df.head()

,Year Reported to CDP,Account Number,Organization,City,Country,CDP Region,City-wide emissions inventory,Accounting Year,Gases Included,Direct emissions/ Scope 1 (metric tonnes CO2e) for Total generation of grid supplied energy,...,Population,Population Year,City Location,Last update,GDP,Average annual temperature (in Celsius),C40,Climate CODE,Climate,Land Area (in km sq.)
0,2020,63616,Abasan Al-Kabira Municipality,Abasan Al-Kabira,State of Palestine,Middle East,Yes,2010-12-31 - 2011-12-31,"CH4, CO2, HFCs",NaN,...,31000.0,2017,POINT (34.344 31.3231),2021-01-15T08:48:41.050,NaN,NaN,0,Not Found,Not Found,NaN
1,2020,58485,Abington Township,Abington,United States of America,North America,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, HFCs, N20, PFCs",NaN,...,55310.0,2010,POINT (-75.1195 40.1241),2021-01-15T08:48:41.050,NaN,NaN,0,Cfa,warm temperate,NaN
2,2020,36043,Abuja Federal Capital Territory,Abuja,Nigeria,Africa,Intending to undertake in the next 2 years,NaN,NaN,NaN,...,3278000.0,2020,POINT (7.39857 9.07647),2021-01-15T08:48:41.050,NaN,NaN,0,Aw,equatorial,NaN
3,2020,36039,Accra Metropolitan Assembly,Accra,Ghana,Africa,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, N20",NaN,...,2514005.0,2020,POINT (-0.16819 5.56543),2021-01-15T08:48:41.050,NaN,NaN,1,Aw,equatorial,453
4,2020,50208,Adana Metropolitan Municipality,Adana,Turkey,Europe,Yes,-,NaN,NaN,...,2200000.0,2020,POINT (35.334 36.995),2021-01-15T08:48:41.050,NaN,NaN,0,Csa,warm temperate,NaN

In [5]:
df['Land Area (in km sq.)'].fillna(df['Land area (in square km)'], inplace=True)
df.drop(columns=['Land area (in square km)'], inplace=True)

In [6]:
df['Land Area (in km sq.)'].isnull().sum()

1914

In [7]:
len(df[df['Land Area (in km sq.)'].notnull()]['City'].unique())

820

In [8]:
for city in df.loc[df['Land Area (in km sq.)'].notnull()]['City'].unique():
    df_city=df[df['City']==city]
    df.loc[df['City']==city, 'Land Area (km sq)'] = df_city['Land Area (in km sq.)'].values[0]
df.head()

,Year Reported to CDP,Account Number,Organization,City,Country,CDP Region,City-wide emissions inventory,Accounting Year,Gases Included,Direct emissions/ Scope 1 (metric tonnes CO2e) for Total generation of grid supplied energy,...,Population Year,City Location,Last update,GDP,Average annual temperature (in Celsius),C40,Climate CODE,Climate,Land Area (in km sq.),Land Area (km sq)
0,2020,63616,Abasan Al-Kabira Municipality,Abasan Al-Kabira,State of Palestine,Middle East,Yes,2010-12-31 - 2011-12-31,"CH4, CO2, HFCs",NaN,...,2017,POINT (34.344 31.3231),2021-01-15T08:48:41.050,NaN,NaN,0,Not Found,Not Found,19,19
1,2020,58485,Abington Township,Abington,United States of America,North America,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, HFCs, N20, PFCs",NaN,...,2010,POINT (-75.1195 40.1241),2021-01-15T08:48:41.050,NaN,NaN,0,Cfa,warm temperate,40.1,40.1
2,2020,36043,Abuja Federal Capital Territory,Abuja,Nigeria,Africa,Intending to undertake in the next 2 years,NaN,NaN,NaN,...,2020,POINT (7.39857 9.07647),2021-01-15T08:48:41.050,NaN,NaN,0,Aw,equatorial,"7,315","7,315"
3,2020,36039,Accra Metropolitan Assembly,Accra,Ghana,Africa,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, N20",NaN,...,2020,POINT (-0.16819 5.56543),2021-01-15T08:48:41.050,NaN,NaN,1,Aw,equatorial,453,453
4,2020,50208,Adana Metropolitan Municipality,Adana,Turkey,Europe,Yes,-,NaN,NaN,...,2020,POINT (35.334 36.995),2021-01-15T08:48:41.050,NaN,NaN,0,Csa,warm temperate,"14,000","14,000"

In [10]:
df['Land Area (km sq)'].fillna(df['Land Area (in km sq.)'], inplace=True)
len(df[df['Land Area (km sq)'].notnull()]['City'].unique())

820

In [11]:
df['Land Area (km sq)'].isnull().sum()

647

In [12]:
df['GDP'].isnull().sum()

3127

In [18]:
for column in df.columns:
    print(column, df[column].isnull().sum())

Year Reported to CDP 0
Account Number 0
Organization 187
City 0
Country 0
CDP Region 188
City-wide emissions inventory 940
Accounting Year 1029
Gases Included 1404
Direct emissions/ Scope 1 (metric tonnes CO2e) for Total generation of grid supplied energy 2951
Direct emissions/ Scope 1 (metric tonnes CO2e) for Total emissions (excluding generation of grid-supplied energy) 2612
Indirect emissions from use of grid supplied energy/Scope 2 (metric tonnes CO2e) for Total generation of grid supplied energy 3100
Indirect emissions from use of grid supplied energy/Scope 2 (metric tonnes CO2e) for Total emissions (excluding generation of grid-supplied energy) 2776
Emissions occurring outside city boundary/ Scope 3 (metric tonnes CO2e) for Total generation of grid supplied energy 3118
Emissions occurring outside city boundary/ Scope 3 (metric tonnes CO2e) for Total emissions (excluding generation of grid-supplied energy) 2853
Total Scope 1 Emissions (metric tonnes CO2e) 0
Total Scope 2 Emissions (metric tonnes CO2e) 0
Total Scope 3 emissions (metric tonnes CO2e) 0
Total BASIC Emissions (GPC) 2794
Total BASIC+ Emissions (GPC) 2919
Change in emissions 1723
Total City-wide Emissions (metric tonnes CO2e)Â  0
Reason for change 1625
Population 51
Population Year 0
City Location 858
Last update 416
GDP 3127
Average annual temperature (in Celsius) 3085
C40 0
Climate CODE 0
Climate 0
Land Area (in km sq.) 1914
Land Area (km sq) 647

In [24]:
len(df[df['GDP'].notnull()]['City'].unique())

181

In [28]:
average_population = {}
for city in df['City'].unique():
    df_city = df[df['City']==city]
    average_population[city] = sum(df_city['Population'])/len(df_city)

In [34]:
for city in df['City']:
    df.loc[(df['Population'].isnull()), 'Population'] = average_population[city]

In [53]:
gdp_country = pd.read_csv('GDP.csv', encoding='latin1')
gdp_country.head()

                    Country           GDP
0                       USA  1.948540e+13
1  United States of America  1.948540e+13
2                     China  1.223770e+13
3                     Japan  4.872420e+12
4                   Germany  3.693200e+12

In [54]:
gdp_country['GDP'] = gdp_country['GDP']/1000000

In [55]:
gdp_country.head()

                    Country         GDP
0                       USA  19485400.0
1  United States of America  19485400.0
2                     China  12237700.0
3                     Japan   4872420.0
4                   Germany   3693200.0

In [56]:
df.drop(columns=['GDP (Country)'], inplace=True)

In [57]:
for country in gdp_country['Country'].unique():
    gp = gdp_country[gdp_country['Country']==country]['GDP'].values[0]
    df.loc[df['Country']==country, 'GDP (Country)'] = gp
df['GDP (Country)'].isnull().sum()

175

In [58]:
len(df[df['GDP (Country)'].notnull()]['City'].unique())

1051

In [61]:
df[['GDP (Country)']].describe()

       GDP (Country)
count   3.133000e+03
mean    5.694895e+06
std     8.047496e+06
min     1.068124e+03
25%     3.298660e+05
50%     1.323420e+06
75%     1.223770e+07
max     1.948540e+07

In [65]:
df.to_csv('Filtered_data.csv', index=False)

In [72]:
df_new = pd.read_csv('Filtered_data.csv', encoding='latin1')
df_new.head()

,Year Reported to CDP,Account Number,Organization,City,Country,CDP Region,City-wide emissions inventory,Accounting Year,Gases Included,Direct emissions/ Scope 1 (metric tonnes CO2e) for Total generation of grid supplied energy,...,Population,Population Year,City Location,Last update,Average annual temperature (in Celsius),C40,Climate CODE,Climate,Land Area (km sq),GDP (Country)
0,2020,63616,Abasan Al-Kabira Municipality,Abasan Al-Kabira,State of Palestine,Middle East,Yes,2010-12-31 - 2011-12-31,"CH4, CO2, HFCs",NaN,...,31000,2017,POINT (34.344 31.3231),2021-01-15T08:48:41.050,NaN,0,Not Found,Not Found,19.0,1.449810e+04
1,2020,58485,Abington Township,Abington,United States of America,North America,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, HFCs, N20, PFCs",NaN,...,55310,2010,POINT (-75.1195 40.1241),2021-01-15T08:48:41.050,NaN,0,Cfa,warm temperate,40.1,1.948540e+07
2,2020,36043,Abuja Federal Capital Territory,Abuja,Nigeria,Africa,Intending to undertake in the next 2 years,NaN,NaN,NaN,...,3278000,2020,POINT (7.39857 9.07647),2021-01-15T08:48:41.050,NaN,0,Aw,equatorial,7315.0,3.757450e+05
3,2020,36039,Accra Metropolitan Assembly,Accra,Ghana,Africa,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, N20",NaN,...,2514005,2020,POINT (-0.16819 5.56543),2021-01-15T08:48:41.050,NaN,1,Aw,equatorial,453.0,5.899678e+04
4,2020,50208,Adana Metropolitan Municipality,Adana,Turkey,Europe,Yes,-,NaN,NaN,...,2200000,2020,POINT (35.334 36.995),2021-01-15T08:48:41.050,NaN,0,Csa,warm temperate,14000.0,8.515490e+05

In [73]:
df_new[['Land Area (km sq)']].describe()

       Land Area (km sq)
count       2.661000e+03
mean        2.415477e+05
std         3.221319e+06
min         0.000000e+00
25%         1.042000e+02
50%         4.247300e+02
75%         1.292000e+03
max         8.220000e+07

In [74]:
df_new[['Population']].describe()

         Population
count  3.308000e+03
mean   3.150742e+06
std    5.196539e+07
min    7.000000e+00
25%    5.621700e+04
50%    2.105630e+05
75%    6.830150e+05
max    1.495705e+09

In [75]:
df_new.columns

Index(['Year Reported to CDP', 'Account Number', 'Organization', 'City',
       'Country', 'CDP Region', 'City-wide emissions inventory',
       'Accounting Year', 'Gases Included',
       'Direct emissions/ Scope 1 (metric tonnes CO2e) for Total generation of grid supplied energy',
       'Direct emissions/ Scope 1 (metric tonnes CO2e) for Total emissions (excluding generation of grid-supplied energy)',
       'Indirect emissions from use of grid supplied energy/Scope 2 (metric tonnes CO2e) for Total generation of grid supplied energy',
       'Indirect emissions from use of grid supplied energy/Scope 2 (metric tonnes CO2e) for Total emissions (excluding generation of grid-supplied energy)',
       'Emissions occurring outside city boundary/ Scope 3 (metric tonnes CO2e) for Total generation of grid supplied energy',
       'Emissions occurring outside city boundary/ Scope 3 (metric tonnes CO2e) for Total emissions (excluding generation of grid-supplied energy)',
       'Total Scope 1 Emissions (metric tonnes CO2e)',
       'Total Scope 2 Emissions (metric tonnes CO2e)',
       'Total Scope 3 emissions (metric tonnes CO2e)',
       'Total BASIC Emissions (GPC)', 'Total BASIC+ Emissions (GPC)',
       'Change in emissions', 'Total City-wide Emissions (metric tonnes CO2e)',
       'Reason for change', 'Population', 'Population Year', 'City Location',
       'Last update', 'Average annual temperature (in Celsius)', 'C40',
       'Climate CODE', 'Climate', 'Land Area (km sq)', 'GDP (Country)'],
      dtype='object')

In [77]:
df_new['Total City-wide Emissions (metric tonnes CO2e)'].unique()

array([0.0000000e+00, 5.9890700e+05, 1.4478593e+07, ..., 1.0849790e+06,
       4.5304690e+06, 1.9000000e+03])

In [78]:
df_new['Emissions per capita'] = df_new['Total City-wide Emissions (metric tonnes CO2e)']/df_new['Population']
df_new['Emissions per sqkm'] = df_new['Total City-wide Emissions (metric tonnes CO2e)']/df_new['Land Area (km sq)']
df_new['Density'] = df_new['Population']/df_new['Land Area (km sq)']
df_new.head()

,Year Reported to CDP,Account Number,Organization,City,Country,CDP Region,City-wide emissions inventory,Accounting Year,Gases Included,Direct emissions/ Scope 1 (metric tonnes CO2e) for Total generation of grid supplied energy,...,Last update,Average annual temperature (in Celsius),C40,Climate CODE,Climate,Land Area (km sq),GDP (Country),Emissions per capita,Emissions per sqkm,Density
0,2020,63616,Abasan Al-Kabira Municipality,Abasan Al-Kabira,State of Palestine,Middle East,Yes,2010-12-31 - 2011-12-31,"CH4, CO2, HFCs",NaN,...,2021-01-15T08:48:41.050,NaN,0,Not Found,Not Found,19.0,1.449810e+04,0.000000,0.000000,1631.578947
1,2020,58485,Abington Township,Abington,United States of America,North America,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, HFCs, N20, PFCs",NaN,...,2021-01-15T08:48:41.050,NaN,0,Cfa,warm temperate,40.1,1.948540e+07,10.828187,14935.336658,1379.301746
2,2020,36043,Abuja Federal Capital Territory,Abuja,Nigeria,Africa,Intending to undertake in the next 2 years,NaN,NaN,NaN,...,2021-01-15T08:48:41.050,NaN,0,Aw,equatorial,7315.0,3.757450e+05,0.000000,0.000000,448.120301
3,2020,36039,Accra Metropolitan Assembly,Accra,Ghana,Africa,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, N20",NaN,...,2021-01-15T08:48:41.050,NaN,1,Aw,equatorial,453.0,5.899678e+04,0.000000,0.000000,5549.679912
4,2020,50208,Adana Metropolitan Municipality,Adana,Turkey,Europe,Yes,-,NaN,NaN,...,2021-01-15T08:48:41.050,NaN,0,Csa,warm temperate,14000.0,8.515490e+05,0.000000,0.000000,157.142857

In [81]:
df_new['Gases Included'].fillna('None given', inplace=True)
df_new['Gases Included'].isnull().sum()

0

In [84]:
df_new['Change in emissions'] = df_new['Change in emissions'].replace(['Do not know'], 'None given')
df_new['Change in emissions'].fillna('None given', inplace=True)
df_new['Change in emissions'].isnull().sum()

0

In [88]:
df_new['Reason for change'] = df_new['Reason for change'].replace(['??????????????????????????????????????????????????????????????', '#NAME?', 'Other, please specify', 'Other'], 'None given')
df_new['Reason for change'].fillna('None given', inplace=True)
df_new['Reason for change'].isnull().sum()

0

In [89]:
df_new.loc[df_new['Total City-wide Emissions (metric tonnes CO2e)']>0, 'ScoreEmissions'] = 5
df_new.loc[df_new['Total City-wide Emissions (metric tonnes CO2e)']<=0, 'ScoreEmissions'] = -5

In [91]:
df_new.loc[df_new['Gases Included']=='None given', 'ScoreGas'] = -1
df_new.loc[df_new['Gases Included']!='None given', 'ScoreGas'] = 1
df_new.loc[df_new['Change in emissions']=='None given', 'ScoreChange'] = -2
df_new.loc[df_new['Change in emissions']!='None given', 'ScoreChange'] = 2
df_new.loc[df_new['Reason for change']=='None given', 'ScoreReason'] = -2
df_new.loc[df_new['Reason for change']!='None given', 'ScoreReason'] = 2

df_new.head()

,Year Reported to CDP,Account Number,Organization,City,Country,CDP Region,City-wide emissions inventory,Accounting Year,Gases Included,Direct emissions/ Scope 1 (metric tonnes CO2e) for Total generation of grid supplied energy,...,Climate,Land Area (km sq),GDP (Country),Emissions per capita,Emissions per sqkm,Density,ScoreEmissions,ScoreGas,ScoreChange,ScoreReason
0,2020,63616,Abasan Al-Kabira Municipality,Abasan Al-Kabira,State of Palestine,Middle East,Yes,2010-12-31 - 2011-12-31,"CH4, CO2, HFCs",NaN,...,Not Found,19.0,1.449810e+04,0.000000,0.000000,1631.578947,-5.0,1.0,-2.0,-2.0
1,2020,58485,Abington Township,Abington,United States of America,North America,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, HFCs, N20, PFCs",NaN,...,warm temperate,40.1,1.948540e+07,10.828187,14935.336658,1379.301746,5.0,1.0,2.0,2.0
2,2020,36043,Abuja Federal Capital Territory,Abuja,Nigeria,Africa,Intending to undertake in the next 2 years,NaN,None given,NaN,...,equatorial,7315.0,3.757450e+05,0.000000,0.000000,448.120301,-5.0,-1.0,-2.0,-2.0
3,2020,36039,Accra Metropolitan Assembly,Accra,Ghana,Africa,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, N20",NaN,...,equatorial,453.0,5.899678e+04,0.000000,0.000000,5549.679912,-5.0,1.0,2.0,2.0
4,2020,50208,Adana Metropolitan Municipality,Adana,Turkey,Europe,Yes,-,None given,NaN,...,warm temperate,14000.0,8.515490e+05,0.000000,0.000000,157.142857,-5.0,-1.0,-2.0,-2.0

In [92]:
df_new['Transparency Score'] = df_new['ScoreEmissions'] + df_new['ScoreGas'] + df_new['ScoreChange'] + df_new['ScoreReason']
df_new.head()

,Year Reported to CDP,Account Number,Organization,City,Country,CDP Region,City-wide emissions inventory,Accounting Year,Gases Included,Direct emissions/ Scope 1 (metric tonnes CO2e) for Total generation of grid supplied energy,...,Land Area (km sq),GDP (Country),Emissions per capita,Emissions per sqkm,Density,ScoreEmissions,ScoreGas,ScoreChange,ScoreReason,Transparency Score
0,2020,63616,Abasan Al-Kabira Municipality,Abasan Al-Kabira,State of Palestine,Middle East,Yes,2010-12-31 - 2011-12-31,"CH4, CO2, HFCs",NaN,...,19.0,1.449810e+04,0.000000,0.000000,1631.578947,-5.0,1.0,-2.0,-2.0,-8.0
1,2020,58485,Abington Township,Abington,United States of America,North America,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, HFCs, N20, PFCs",NaN,...,40.1,1.948540e+07,10.828187,14935.336658,1379.301746,5.0,1.0,2.0,2.0,10.0
2,2020,36043,Abuja Federal Capital Territory,Abuja,Nigeria,Africa,Intending to undertake in the next 2 years,NaN,None given,NaN,...,7315.0,3.757450e+05,0.000000,0.000000,448.120301,-5.0,-1.0,-2.0,-2.0,-10.0
3,2020,36039,Accra Metropolitan Assembly,Accra,Ghana,Africa,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, N20",NaN,...,453.0,5.899678e+04,0.000000,0.000000,5549.679912,-5.0,1.0,2.0,2.0,0.0
4,2020,50208,Adana Metropolitan Municipality,Adana,Turkey,Europe,Yes,-,None given,NaN,...,14000.0,8.515490e+05,0.000000,0.000000,157.142857,-5.0,-1.0,-2.0,-2.0,-10.0

In [100]:
len(df_new[df_new['Climate']!='Not Found']['City'].unique())

493

In [99]:
df_new['Climate']

0            Not Found
1       warm temperate
2           equatorial
3           equatorial
4       warm temperate
             ...
3303         Not Found
3304         Not Found
3305        equatorial
3306         Not Found
3307         Not Found
Name: Climate, Length: 3308, dtype: object

In [103]:
df_new.loc[(df_new['GDP (Country)']>=min(df_new['GDP (Country)']))&(df_new['GDP (Country)']<1323420), 'GDP-Class'] = 'Lower-Bound'
df_new.loc[(df_new['GDP (Country)']>=1323420)&(df_new['GDP (Country)']<=max(df_new['GDP (Country)'])), 'GDP-Class'] = 'Upper-Bound'

df_new.loc[(df_new['Land Area (km sq)']>=min(df_new['Land Area (km sq)']))&(df_new['Land Area (km sq)']<425), 'Area-Class'] = 'Lower-Bound'
df_new.loc[(df_new['Land Area (km sq)']>=425)&(df_new['Land Area (km sq)']<=max(df_new['Land Area (km sq)'])), 'Area-Class'] = 'Upper-Bound'

df_new.loc[(df_new['Population']>=min(df_new['Population']))&(df_new['Population']<3150742), 'Population-Class'] = 'Lower-Bound'
df_new.loc[(df_new['Population']>=3150742)&(df_new['Population']<=max(df_new['Population'])), 'Population-Class'] = 'Upper-Bound'

df_new.head()

,Year Reported to CDP,Account Number,Organization,City,Country,CDP Region,City-wide emissions inventory,Accounting Year,Gases Included,Direct emissions/ Scope 1 (metric tonnes CO2e) for Total generation of grid supplied energy,...,Emissions per sqkm,Density,ScoreEmissions,ScoreGas,ScoreChange,ScoreReason,Transparency Score,GDP-Class,Area-Class,Population-Class
0,2020,63616,Abasan Al-Kabira Municipality,Abasan Al-Kabira,State of Palestine,Middle East,Yes,2010-12-31 - 2011-12-31,"CH4, CO2, HFCs",NaN,...,0.000000,1631.578947,-5.0,1.0,-2.0,-2.0,-8.0,Lower-Bound,Lower-Bound,Lower-Bound
1,2020,58485,Abington Township,Abington,United States of America,North America,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, HFCs, N20, PFCs",NaN,...,14935.336658,1379.301746,5.0,1.0,2.0,2.0,10.0,Upper-Bound,Lower-Bound,Lower-Bound
2,2020,36043,Abuja Federal Capital Territory,Abuja,Nigeria,Africa,Intending to undertake in the next 2 years,NaN,None given,NaN,...,0.000000,448.120301,-5.0,-1.0,-2.0,-2.0,-10.0,Lower-Bound,Upper-Bound,Upper-Bound
3,2020,36039,Accra Metropolitan Assembly,Accra,Ghana,Africa,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, N20",NaN,...,0.000000,5549.679912,-5.0,1.0,2.0,2.0,0.0,Lower-Bound,Upper-Bound,Lower-Bound
4,2020,50208,Adana Metropolitan Municipality,Adana,Turkey,Europe,Yes,-,None given,NaN,...,0.000000,157.142857,-5.0,-1.0,-2.0,-2.0,-10.0,Lower-Bound,Upper-Bound,Lower-Bound

In [104]:
df_new['Climate'].unique()

array(['Not Found', 'warm temperate', 'equatorial', 'arid', 'polar',
       'boreal'], dtype=object)

In [107]:
df_new.loc[(df_new['Climate']=='equatorial')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 1

df_new.loc[(df_new['Climate']=='equatorial')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 2

df_new.loc[(df_new['Climate']=='equatorial')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 3

df_new.loc[(df_new['Climate']=='equatorial')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 4

df_new.loc[(df_new['Climate']=='equatorial')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 5

df_new.loc[(df_new['Climate']=='equatorial')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 6

df_new.loc[(df_new['Climate']=='equatorial')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 7

df_new.loc[(df_new['Climate']=='equatorial')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 8

df_new.loc[(df_new['Climate']=='arid')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 9

df_new.loc[(df_new['Climate']=='arid')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 10

df_new.loc[(df_new['Climate']=='arid')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 11

df_new.loc[(df_new['Climate']=='arid')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 12

df_new.loc[(df_new['Climate']=='arid')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 13

df_new.loc[(df_new['Climate']=='arid')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 14

df_new.loc[(df_new['Climate']=='arid')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 15

df_new.loc[(df_new['Climate']=='arid')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 16

df_new.loc[(df_new['Climate']=='warm temperate')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 17

df_new.loc[(df_new['Climate']=='warm temperate')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 18

df_new.loc[(df_new['Climate']=='warm temperate')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 19

df_new.loc[(df_new['Climate']=='warm temperate')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 20

df_new.loc[(df_new['Climate']=='warm temperate')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 21

df_new.loc[(df_new['Climate']=='warm temperate')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 22

df_new.loc[(df_new['Climate']=='warm temperate')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 23

df_new.loc[(df_new['Climate']=='warm temperate')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 24

df_new.loc[(df_new['Climate']=='boreal')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 25

df_new.loc[(df_new['Climate']=='boreal')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 26

df_new.loc[(df_new['Climate']=='boreal')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 27

df_new.loc[(df_new['Climate']=='boreal')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 28

df_new.loc[(df_new['Climate']=='boreal')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 29

df_new.loc[(df_new['Climate']=='boreal')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 30

df_new.loc[(df_new['Climate']=='boreal')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 31

df_new.loc[(df_new['Climate']=='boreal')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 32

df_new.loc[(df_new['Climate']=='polar')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 33

df_new.loc[(df_new['Climate']=='polar')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 34

df_new.loc[(df_new['Climate']=='polar')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 35

df_new.loc[(df_new['Climate']=='polar')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 36

df_new.loc[(df_new['Climate']=='polar')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 37

df_new.loc[(df_new['Climate']=='polar')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 38

df_new.loc[(df_new['Climate']=='polar')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 39

df_new.loc[(df_new['Climate']=='polar')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 40

df_new.loc[(df_new['Climate']=='Not Found')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 41

df_new.loc[(df_new['Climate']=='Not Found')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 42

df_new.loc[(df_new['Climate']=='Not Found')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 43

df_new.loc[(df_new['Climate']=='Not Found')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 44

df_new.loc[(df_new['Climate']=='Not Found')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 45

df_new.loc[(df_new['Climate']=='Not Found')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Lower-Bound'), 'Group'] = 46

df_new.loc[(df_new['Climate']=='Not Found')&(df_new['GDP-Class']=='Lower-Bound')&\
          (df_new['Area-Class']=='Upper-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 47

df_new.loc[(df_new['Climate']=='Not Found')&(df_new['GDP-Class']=='Upper-Bound')&\
          (df_new['Area-Class']=='Lower-Bound')&(df_new['Population-Class']=='Upper-Bound'), 'Group'] = 48

In [108]:
df_new.head()

,Year Reported to CDP,Account Number,Organization,City,Country,CDP Region,City-wide emissions inventory,Accounting Year,Gases Included,Direct emissions/ Scope 1 (metric tonnes CO2e) for Total generation of grid supplied energy,...,Density,ScoreEmissions,ScoreGas,ScoreChange,ScoreReason,Transparency Score,GDP-Class,Area-Class,Population-Class,Group
0,2020,63616,Abasan Al-Kabira Municipality,Abasan Al-Kabira,State of Palestine,Middle East,Yes,2010-12-31 - 2011-12-31,"CH4, CO2, HFCs",NaN,...,1631.578947,-5.0,1.0,-2.0,-2.0,-8.0,Lower-Bound,Lower-Bound,Lower-Bound,41.0
1,2020,58485,Abington Township,Abington,United States of America,North America,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, HFCs, N20, PFCs",NaN,...,1379.301746,5.0,1.0,2.0,2.0,10.0,Upper-Bound,Lower-Bound,Lower-Bound,19.0
2,2020,36043,Abuja Federal Capital Territory,Abuja,Nigeria,Africa,Intending to undertake in the next 2 years,NaN,None given,NaN,...,448.120301,-5.0,-1.0,-2.0,-2.0,-10.0,Lower-Bound,Upper-Bound,Upper-Bound,7.0
3,2020,36039,Accra Metropolitan Assembly,Accra,Ghana,Africa,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, N20",NaN,...,5549.679912,-5.0,1.0,2.0,2.0,0.0,Lower-Bound,Upper-Bound,Lower-Bound,4.0
4,2020,50208,Adana Metropolitan Municipality,Adana,Turkey,Europe,Yes,-,None given,NaN,...,157.142857,-5.0,-1.0,-2.0,-2.0,-10.0,Lower-Bound,Upper-Bound,Lower-Bound,20.0

In [112]:
for group in df_new['Group'].unique():
    df_grp = df_new[df_new['Group']==group]
    if len(df_grp['City'].unique())<5:
        print('Group', group, 'Has', len(df_grp['City'].unique()), 'Cities Covered')

Group nan Has 0 Cities Covered
Group 21.0 Has 1 Cities Covered
Group 2.0 Has 4 Cities Covered
Group 15.0 Has 4 Cities Covered
Group 33.0 Has 2 Cities Covered
Group 10.0 Has 2 Cities Covered
Group 35.0 Has 1 Cities Covered
Group 8.0 Has 1 Cities Covered
Group 32.0 Has 1 Cities Covered
Group 5.0 Has 1 Cities Covered
Group 45.0 Has 1 Cities Covered
Group 26.0 Has 2 Cities Covered

In [113]:
for column in df_new.columns:
    print(column)

Year Reported to CDP
Account Number
Organization
City
Country
CDP Region
City-wide emissions inventory
Accounting Year
Gases Included
Direct emissions/ Scope 1 (metric tonnes CO2e) for Total generation of grid supplied energy
Direct emissions/ Scope 1 (metric tonnes CO2e) for Total emissions (excluding generation of grid-supplied energy)
Indirect emissions from use of grid supplied energy/Scope 2 (metric tonnes CO2e) for Total generation of grid supplied energy
Indirect emissions from use of grid supplied energy/Scope 2 (metric tonnes CO2e) for Total emissions (excluding generation of grid-supplied energy)
Emissions occurring outside city boundary/ Scope 3 (metric tonnes CO2e) for Total generation of grid supplied energy
Emissions occurring outside city boundary/ Scope 3 (metric tonnes CO2e) for Total emissions (excluding generation of grid-supplied energy)
Total Scope 1 Emissions (metric tonnes CO2e)
Total Scope 2 Emissions (metric tonnes CO2e)
Total Scope 3 emissions (metric tonnes CO2e)
Total BASIC Emissions (GPC)
Total BASIC+ Emissions (GPC)
Change in emissions
Total City-wide Emissions (metric tonnes CO2e)
Reason for change
Population
Population Year
City Location
Last update
Average annual temperature (in Celsius)
C40
Climate CODE
Climate
Land Area (km sq)
GDP (Country)
Emissions per capita
Emissions per sqkm
Density
ScoreEmissions
ScoreGas
ScoreChange
ScoreReason
Transparency Score
GDP-Class
Area-Class
Population-Class
Group

In [118]:
rename_cols = {
    'Account Number':'ID',
    'City':'City',
    'Country':'Country',
    'CDP Region':'Region',
    'Year Reported to CDP':'Year',
    'Organization':'Organization',
    'C40':'C40 Member',
    'Population':'Population',
    'GDP (Country)':'GDP (Country)',
    'Land Area (km sq)':'Land Area (KmSq)',
    'Climate':'Climate',
    'Average annual temperature (in Celsius)':'Annual Temperature (Celsius)',
    'Total City-wide Emissions (metric tonnes CO2e)':'Total CO2 Emissions (Metric T)',
    'Change in emissions':'Comment',
    'Reason for change':'Reason Given',
    'Gases Included':'Gases',
    'Emissions per capita':'CO2 Emissions per capita',
    'Emissions per sqkm':'CO2 Emissions per KmSq',
    'Density':'Population Density',
    'ScoreEmissions':'ScoreEmissions',
    'ScoreGas':'ScoreGas',
    'ScoreChange':'ScoreChange',
    'ScoreReason':'ScoreReason',
    'Transparency Score':'Transparency Score',
    'Group':'Group'
}

df_new = df_new.rename(columns=rename_cols)

In [119]:
df_new.head()

,Year,ID,Organization,City,Country,Region,City-wide emissions inventory,Accounting Year,Gases,Direct emissions/ Scope 1 (metric tonnes CO2e) for Total generation of grid supplied energy,...,Population Density,ScoreEmissions,ScoreGas,ScoreChange,ScoreReason,Transparency Score,GDP-Class,Area-Class,Population-Class,Group
0,2020,63616,Abasan Al-Kabira Municipality,Abasan Al-Kabira,State of Palestine,Middle East,Yes,2010-12-31 - 2011-12-31,"CH4, CO2, HFCs",NaN,...,1631.578947,-5.0,1.0,-2.0,-2.0,-8.0,Lower-Bound,Lower-Bound,Lower-Bound,41.0
1,2020,58485,Abington Township,Abington,United States of America,North America,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, HFCs, N20, PFCs",NaN,...,1379.301746,5.0,1.0,2.0,2.0,10.0,Upper-Bound,Lower-Bound,Lower-Bound,19.0
2,2020,36043,Abuja Federal Capital Territory,Abuja,Nigeria,Africa,Intending to undertake in the next 2 years,NaN,None given,NaN,...,448.120301,-5.0,-1.0,-2.0,-2.0,-10.0,Lower-Bound,Upper-Bound,Upper-Bound,7.0
3,2020,36039,Accra Metropolitan Assembly,Accra,Ghana,Africa,Yes,2015-01-01 - 2015-12-31,"CH4, CO2, N20",NaN,...,5549.679912,-5.0,1.0,2.0,2.0,0.0,Lower-Bound,Upper-Bound,Lower-Bound,4.0
4,2020,50208,Adana Metropolitan Municipality,Adana,Turkey,Europe,Yes,-,None given,NaN,...,157.142857,-5.0,-1.0,-2.0,-2.0,-10.0,Lower-Bound,Upper-Bound,Lower-Bound,20.0

In [124]:
df_final = df_new[list(rename_cols.values())]
df_final.head()

,ID,City,Country,Region,Year,Organization,C40 Member,Population,GDP (Country),Land Area (KmSq),...,Gases,CO2 Emissions per capita,CO2 Emissions per KmSq,Population Density,ScoreEmissions,ScoreGas,ScoreChange,ScoreReason,Transparency Score,Group
0,63616,Abasan Al-Kabira,State of Palestine,Middle East,2020,Abasan Al-Kabira Municipality,0,31000,1.449810e+04,19.0,...,"CH4, CO2, HFCs",0.000000,0.000000,1631.578947,-5.0,1.0,-2.0,-2.0,-8.0,41.0
1,58485,Abington,United States of America,North America,2020,Abington Township,0,55310,1.948540e+07,40.1,...,"CH4, CO2, HFCs, N20, PFCs",10.828187,14935.336658,1379.301746,5.0,1.0,2.0,2.0,10.0,19.0
2,36043,Abuja,Nigeria,Africa,2020,Abuja Federal Capital Territory,0,3278000,3.757450e+05,7315.0,...,None given,0.000000,0.000000,448.120301,-5.0,-1.0,-2.0,-2.0,-10.0,7.0
3,36039,Accra,Ghana,Africa,2020,Accra Metropolitan Assembly,1,2514005,5.899678e+04,453.0,...,"CH4, CO2, N20",0.000000,0.000000,5549.679912,-5.0,1.0,2.0,2.0,0.0,4.0
4,50208,Adana,Turkey,Europe,2020,Adana Metropolitan Municipality,0,2200000,8.515490e+05,14000.0,...,None given,0.000000,0.000000,157.142857,-5.0,-1.0,-2.0,-2.0,-10.0,20.0

In [125]:
df_final.to_csv('Final.csv', index=False)

In [126]:
df_new.to_csv('RawData.csv', index=False)

In [131]:
df_final.shape

(3308, 25)

In [132]:
df_again = df_final.drop_duplicates(subset=df_final.columns)
df_again.head()

,ID,City,Country,Region,Year,Organization,C40 Member,Population,GDP (Country),Land Area (KmSq),...,Gases,CO2 Emissions per capita,CO2 Emissions per KmSq,Population Density,ScoreEmissions,ScoreGas,ScoreChange,ScoreReason,Transparency Score,Group
0,63616,Abasan Al-Kabira,State of Palestine,Middle East,2020,Abasan Al-Kabira Municipality,0,31000,1.449810e+04,19.0,...,"CH4, CO2, HFCs",0.000000,0.000000,1631.578947,-5.0,1.0,-2.0,-2.0,-8.0,41.0
1,58485,Abington,United States of America,North America,2020,Abington Township,0,55310,1.948540e+07,40.1,...,"CH4, CO2, HFCs, N20, PFCs",10.828187,14935.336658,1379.301746,5.0,1.0,2.0,2.0,10.0,19.0
2,36043,Abuja,Nigeria,Africa,2020,Abuja Federal Capital Territory,0,3278000,3.757450e+05,7315.0,...,None given,0.000000,0.000000,448.120301,-5.0,-1.0,-2.0,-2.0,-10.0,7.0
3,36039,Accra,Ghana,Africa,2020,Accra Metropolitan Assembly,1,2514005,5.899678e+04,453.0,...,"CH4, CO2, N20",0.000000,0.000000,5549.679912,-5.0,1.0,2.0,2.0,0.0,4.0
4,50208,Adana,Turkey,Europe,2020,Adana Metropolitan Municipality,0,2200000,8.515490e+05,14000.0,...,None given,0.000000,0.000000,157.142857,-5.0,-1.0,-2.0,-2.0,-10.0,20.0

In [134]:
df_again.shape

(2494, 25)

In [135]:
df_again.to_csv('LiveData.csv', index=False)